$TTL 604800	; 1 week
@	IN SOA	{{ fqdn }}. admin.{{ fqdn }}. (
				8          ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				604800     ; minimum (1 weeks)
);
@			IN		NS	{{ fqdn }}.
			IN		A 	{{ ansible_default_ipv4.address }}
{% if dns_record is defined %}
{% for item in dns_record %}
{{ item.name }}			IN      {{ item.type }}		{{ item.ipaddress }}
{% endfor %}
{% endif %}
;