@       IN      SOA     {{ fqdn }}. admin.{{ fqdn }}.  (
        2000081501
        10800
        3600
        604800
        86400 )
;
0.0.127.in-addr.arpa.       IN     NS      {{ fqdn }}.
;
1.0.0.127.in-addr.arpa.     IN     PTR     localhost.