$TTL 604800	; 1 week
@	IN SOA	{{ fqdn }}. admin.{{ domain }}. (
				7          ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				604800     ; minimum (1 week)
				)
;
@	IN	NS	{{ domain }}.
;
{{ ansible_default_ipv4.address.split('.')[3] }} IN PTR {{ fqdn }}.