key "dns_transfer" {
	algorithm hmac-sha256;
	secret "{{ns_transfer_secret}}";
};

key "dns_update" {
	algorithm hmac-sha256;
	secret "{{ns_update_secret}}";
};

options {
	directory "/var/cache/bind";
	forwarders {
      {% for f in dns_forwarders %}
	    {{ f }};
      {% endfor %}
	};
    allow-query { {{ localhost_address }}; {{ local_network }}; {{docker_network}}; };
	dnssec-validation no;
	auth-nxdomain no;    # conform to RFC1035
};

statistics-channels {
  inet {{ localhost_address }} port {{ statistics_port }} allow { {{ localhost_address }}; };
};