zone "{{ fqdn }}" IN {
    type master;
    file "/etc/bind/zones/db.forward";
    allow-update { key rndc-key; };
};

{% for item in reverse_domain %}
zone "{{ item }}" IN {
    type master;
    file "/etc/bind/zones/db.reverse";
    allow-update {key rndc-key; };
};
{% endfor %}

zone "0.0.127.IN-ADDR.ARPA" {
        type master;
        file "/etc/bind/zones/db.local_reverse";
};

acl {{ acl }} {

     {% for i in ica0002acl %}
          {{ i }};
     {% endfor %}

     };

options {
	forwarders {
      {% for f in dns_forwarders %}
	    {{ f }};
      {% endfor %}
	};
	dnssec-validation no;
	auth-nxdomain no;    # conform to RFC1035
	    allow-query 
    {
         ica0002acl ;
    };
};