#!/bin/bash
<<'###BLOCK-COMMENT'
for t in database_url database_name targets; do
  if ! grep -q "^${t}=" /etc/pinger/pinger.conf; then
    logger "$0 Failed to get $t from config"
    exit 1
  fi
done

db_url=$(grep "^database_url=" /etc/pinger/pinger.conf | sed 's/^.*=//')
db_name=$(grep "^database_name=" /etc/pinger/pinger.conf | sed 's/^.*=//' | sed 's/;.*//')
targets=$(grep "^targets=" /etc/pinger/pinger.conf | sed 's/^.*=//' | sed 's/\(,\|;\)/ /g')

curl -i -XPOST "${db_url}/query" --data-urlencode "q=CREATE DATABASE $db_name" 1>/dev/null 2>/dev/null

while true; do
  result=$(fping -C1 -q $targets 2>&1 | awk -v db=$db_name '{print db",dst="$1" rtt="$3}')
  curl -i -XPOST "${db_url}/write?db=$db_name" --data-binary "$result" 1>/dev/null 2>/dev/null
 sleep 1
done
###BLOCK-COMMENT

#New version

for t in database_url database_name targets; do
    if  ! grep -q "^${t}=" /etc/pinger/pinger.conf; then
        logger "$0 Failed to get $t from config"
        exit 1
    fi
done

#Validate database url
db_url=$(grep "^database_url=" /etc/pinger/pinger.conf | sed 's/^.*=//')

db_dn=$(grep -v "[]^\!@#$%()[{}|_=+\`\"\'~?<>,\ -]" <<<"$db_url" | sed 's/\(^http:\/\/\)\([a-z\.]*\)\(:8086\)/\2/')
local_ip=$(hostname -I)
looked_up_ip=$(dig vugarg-2.{{ fqdn}}. +short)
protocol=$(grep "^http://" <<<"$db_url")

if [ ! "$db_dn" ] || [ ! "$protocol" ] || [ "$local_ip" = "$looked_up_ip" ]; then
    logger "$0 Failed, incorrect database link. Possible issues: use of forbidden special symbols, incorrect protocol, incorrect domain name."
    exit 1
fi

#Validate database name
db_name=$(grep "^database_name=" /etc/pinger/pinger.conf | sed 's/^.*=//')

if ! grep -vq "[]^\!@#$%()[{}|=+\`\"\'~?<>,\ -]" <<<"$db_name"; then
    logger "$0 Failed, incorrect database name. Possible issue: use of forbidden special symbols."
    exit 1
fi

#Validate targets
targets=$(grep "^targets=" /etc/pinger/pinger.conf | sed 's/^.*=//' | sed 's/\(,\|;\)/ /g')

if ! grep -v "[]^\!@#$%()[{}|_=+\`\"\'~?<>,\:/-]" <<<"$targets" | grep -Eq "[a-z0-9.]* {0,1}"; then
    logger "$0 Failed, incorrect links to targets. Possible issues: use of special forbidden symbols, incorrect string pattern."
    exit 1
fi

#cURL commands were restricted to use only http protocol

curl -XPOST --proto =http "${db_url}/query" --data-urlencode "q=CREATE DATABASE $db_name" 1>/dev/null 2>/dev/null
#Check success of 
while true; do
    ping=$(fping -C1 -q $targets 2>&1)
    #Check if the ping was successful
    if [ ! "$ping" ]; then 
        continue
    fi
    result=$(awk -v db=$db_name '{print db",dst="$1" rtt="$3}' <<<"$ping")
    curl -XPOST --proto =http "${db_url}/write?db=$db_name" --data-binary "$result" 1>/dev/null 2>/dev/null
    sleep 1
done